
.modal-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.2);
    padding-top: 221px;
    padding-bottom: 222px;
    opacity: 1;
    z-index: 8;
    //pointer-events: none;
}

.modal{
    position: relative;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

.modal-overlay.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

.modal-title{
    display: inline-block;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 30px;
}

.form-field{
    position: relative;
    margin-bottom: 28px;
}

.form-label{
    position: absolute;
    top: 50%;
    left: 42px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01;
    color: #757575;
    transform: translateY(-50%);
    transition: transform 250ms linear;
}

.form-input{
    width: 448px;
    height: 40px;
    padding: 11px 16px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}



.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-37px) translateX(-30px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $accent-color;
    caret-color: $accent-color;
}


.form-input:focus,
.form-input:active{
    outline: 0;
    border-color: $accent-color;
}

.comments{
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    outline: none;
    padding: 12px 16px 12px 16px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: #757575;
    border-radius: 4px;
}

.comments:focus{
    border-color: $accent-color;
    
}

.icon-modal{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.form-input:active, .form-input:focus ~ .icon-modal{
    fill: $accent-color;
}

.checkbox-label{
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03;
    color: #757575;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.label-accent{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.modal-checkbox{
    appearance: none;
}


.icon-checkbox{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 9px;
    align-items: center; 
    justify-content: center;
}

.modal-checkbox:checked + .icon-checkbox{
    border: 2px solid $accent-color;
    background-color: $accent-color;
} 

.modal-button{
    width: 200px;
    height: 50px;
    border-color: transparent;
    background-color: $accent-color;
    border-radius: 4px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06;
}

.modal-button:hover{
    background-color: #188CE8;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.modal-close:hover{
    fill: $accent-color;
}