
$title-color:#212121;
$accent-color:#2196F3;
$font-color:#757575;
$command-bcg:#F5F4FA;
$icon-fill:#AFB1B8;
$footer-bcg: #2F303A;
$footer-social-bcg: rgba(255, 255, 255, 0.1);
$address-color:rgba(255, 255, 255, 0.6);
$auth-icon-fill:#757575;